# Pastas de dependências do Node
node_modules/

# Credenciais e Sessão do WhatsApp (MUITO IMPORTANTE NÃO SUBIR)
.wwebjs_auth/
.wwebjs_cache/

# Mídia temporária e uploads
uploads/*
!uploads/.gitkeep

# Arquivos de variáveis de ambiente com senhas
.env

# Logs do sistema
*.log